html body {
	background-color: #0e0e0e;
}

/* Ceo search-box: .RNNXgb
/* search button search-btn .iblpc
/* input deo search-text .a4bIc

<div class='search-box'>
    <input class="search-text" type="text" placeholder="Search Anything">

    <a href="#" class="search-btn">
      <i class="fas fa-search"></i>
    </a>

  </div>


/*Sakrivanje svg-ova*/
.Umvnrc{
	display: none !important;
}
.XDyW0e{
	display: none !important;
}
.nDcEnd{
	display: none !important;
}

.BKRPef{
	display: none !important;
}

.dRYYxd{
	display: none !important;	
}

center{
	display: none !important;
}

.uU7dJb{
	background-color: #0b0b0b;
}
.KxwPGc{
	background-color: #0b0b0b;
}

.RNNXgb {
  position: absolute !important;
  top : 30% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  background: #2f3640 !important;
  height: 40px !important;
  border-radius: 40px !important;
  padding: 10px !important;
}

.RNNXgb:hover > .CcAdNb{
  width: 440px !important;
  padding: 0 6px !important;
}


a{
	color: yellowgreen !important;
	text-decoration: none !important;
	font-size: 15px !important;
}



.iblpc {
  color: #e84118 !important;
  float: right !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  background: #2f3640 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  transition: 0.4s !important;
  cursor: pointer !important;
  text-decoration: none !important;
  
}

.A8SBwf{
	padding-top: 70px !important; 
}

.aajZCb{
	background-color: #0b0b0b !important;
	width: 440px !important;
	margin: auto !important;
}

.sbct:hover{
	background-color: #0e0e0e !important;
}

.pcTkSc span{
	color: yellowgreen !important;	
}

.Ww4FFb{
	background-color: #0e0e0e !important;
}

#slim_appbar{
	background-color: #0e0e0e !important;
}

#pTwnEc{
	background-color: #0e0e0e !important;
}
.sfbg{
	background-color: #0e0e0e !important;
}

.cHaqb{
	color: forestgreen;
}

.VuuXrf{
	color: yellow !important;
}

.gLFyf{
	color: greenyellow !important;
}